* {
    margin: 0;
    font-family: "Exo", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 1000000px;
}

*::selection {
    color: black;
    background-color: #FFD15B;
}

img {
    width: 100%;
}

.clr {
    clear: both;
}

.container {
    margin: auto;
    width: 85%;

}

li,
i,
h1,
span,
a {
    display: inline-block;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

.nav {
    width: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav .links,
.nav .button {
    display: none;
}

.nav .title h1 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 800;


}

.nav .title h1 span {
    color: oklch(0.705 0.213 47.604);
}

.nav .links li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.3s;
    font-weight: 600;

}

.nav .links li a:hover {
    color: #FF7A50;
}

.nav .links i {
    color: #D1D5DC;
    margin: 0 10px;
    font-size: 13px;
}

.nav .button button {
    width: 150px;
    height: 40px;
    border-radius: 500px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    background-color: #FFD15B;
    transition: all 0.5s;
}

.nav .button button:hover {
    transform: translateX(3px) translateY(3px);
}

.nav .menu {

    font-size: 24px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 8px;
    box-shadow: 4px 4px 0 #000;
    transition: all 0.5s;


}

.nav .menu:hover {
    transform: translateY(-3px);
}

/* ///////////////////////////////////////////////////home///////////////////////////////////////////////////// */
.home {
    width: 100%;
    background-color: oklch(94.727% 0.13021 101.974 / 0.815);
    padding-top: 100px;
    position: relative;
    border-bottom: 4px solid black;
}

.rect1 {
    width: 150px;
    height: 150px;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 5%;
    transform: rotate(12deg);
    z-index: -1;
}

.rect2 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 40%;
    right: 20%;
    transform: rotate(45deg);
    z-index: -1;
}

.home .rect3 {
    width: 130px;
    height: 130px;
    background-color: blue;
    position: absolute;
    bottom: 20%;
    left: 33.333%;
    transform: rotate(45deg);
    z-index: -1;
}

.home .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.home .content {
    width: 100%;
}




.sign {
    text-align: center;
    background-color: #000;
    color: white;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    border: 2px solid black;
    width: 140px;
    padding: 10px;
    margin: 30px 0;
    box-shadow: 4px 4px 0 #000;
    transform: rotate(-2deg);
}

.home .title h2 {
    font-size: 57px;
    line-height: 70px;
    font-weight: 900;
    text-shadow: 3px 3px 0 #000;
}

.home .title .red {
    color: red;
}

.home .title .blue {
    color: blue;
}

.home .content .paragraph {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    font-size: 21px;
    line-height: 28px;
    font-weight: 500;
    box-shadow: 4px 4px 0 #000;
    margin: 10px 0;
}

.home .content .buttons {
    width: 100%;
}

.home .content .buttons button {
    width: 45%;
    margin: 30px 0;
    margin-right: 10px;
    border: 6px solid black;
    background-color: black;
    color: white;
    box-shadow: 6px 6px 0 #000;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 20px;
    transition: all 0.2s;
    cursor: pointer;
}

.home .content .buttons .btn-white {
    background-color: white;
    color: #000;
    box-shadow: 6px 6px 0 #000;

}

.home .content .buttons button:hover {
    box-shadow: 0px 0px 0 black;
    transform: translateX(6px)translateY(6px);
}

.home .photo {
    width: 100%;
    position: relative;
}

.home .photo .sign {
    position: absolute;
    top: -10%;
    right: -4%;
    width: 110px;
    z-index: 100;
    background-color: red;
    transform: rotate(10deg);
}

.home .photo .pic {
    width: 100%;
    height: 350px;
    border: 4px solid black;
    box-shadow: 4px 4px 0 #000;
    overflow: hidden;
    margin-bottom: 40px;
    transition: all 0.5s;

}

.home .photo .pic:hover {
    transform: translateX(-5px) translateY(-5px);
}

.home .photo .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*//////////////////////////// LATEST ARTICLES////////////////////////////////////////////////// */
.last-article {
    background-color: #F5F5F5;
    position: relative;
    border-bottom: 4px solid black;
    padding: 40px 0;
}

.last-article .container {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.last-article .cards {
    width: 100%;
}

.last-article .cards .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.last-article .cards .head h2 {
    font-size: 42px;
    font-weight: 900;
    line-height: 42px;
}

.last-article .cards .head .sign {
    display: none;

}

.last-article .cards .card {
    padding: 20px;
    width: 100%;
    border: 4px solid black;
    box-shadow: 6px 6px 0 #000;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: all 0.5s;
}

.last-article .cards .card:hover {
    transform: translateX(-3px)translateY(-3px);
    box-shadow: 9px 9px 0 #000;

}

.last-article .cards .card:hover .h-red {
    color: #E7000B;
}

.last-article .cards .card:hover .h-blue {
    color: #155DFC;

}

.last-article .cards .card:hover .h-purple {
    color: #9810FA;
}

.last-article .cards .card .content {
    width: 100%;
}

.last-article .cards .card .content h3 {
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;

}

.last-article .cards .card .content .pra {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 10px 0;
}

.last-article .cards .card .foot {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.last-article .cards .card .foot .h4-red {
    color: red;
}

.last-article .cards .card .foot .name {
    min-width: 140px;
}

.last-article .cards .card .photo {
    width: 145px;
    height: 115px;
    border: 3px solid black;
    position: relative;

}

.last-article .cards .card .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.last-article .cards .card .photo .sign {
    position: absolute;
    top: -35%;
    right: -10%;
    width: auto;
    padding: 5px;
    transform: rotate(20deg);
    box-shadow: 0 0 0 black;
}

.last-article .cards .card .photo .sg1 {
    background-color: red;
}

.last-article .cards .card .photo .sg2 {
    background-color: #2B7FFF;
    transform: rotate(-20deg);
}

.last-article .cards .card .photo .sg3 {
    background-color: #AD46FF;
    transform: rotate(25deg);
}

.last-article .cards .card .content .sign {
    width: 70px;
    color: #000;
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 0 black;
}

.last-article .cards .card .content .sg4 {
    background-color: #FFDF20;
    transform: rotate(-3deg);

}

.last-article .cards .card .content .sg5 {
    background-color: #7BF1A8;
    transform: rotate(3deg);

}

.last-article .cards .card .content .sg6 {
    background-color: #FDA5D5;
}

.last-article .cards .card .content .sign .last-article .side-bar {
    width: 100%;
}

.last-article .cards button {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: white;
    background-color: black;
    border: 4px solid black;
    box-shadow: 4px 4px 0 black;
    margin: 20px auto;
    padding: 10px 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.last-article .cards button:hover {
    box-shadow: 0px 0px 0 black;
    transform: translateX(4px)translateY(4px);

}

.last-article .side-bar {
    width: 100%;
}

.last-article .side-bar .trending-card,
.last-article .side-bar .category {
    width: 100%;
    border: 4px solid black;
    padding: 20px;
    box-shadow: 6px 6px 0 #000;
    margin-bottom: 20px;
}

.last-article .side-bar .trending-card h3 {
    font-size: 26px;
    font-weight: 900;
    line-height: 32px;
}

.last-article .side-bar .trending-card .trend {
    display: flex;
    margin: 20px 0;
}

.last-article .side-bar .trending-card .trend h3 {
    font-size: 32px;
    line-height: 35px;
    color: red;
    margin-right: 20px;
}

.last-article .side-bar .trending-card .trend .h-blue {
    color: #2B7FFF;
}

.last-article .side-bar .trending-card .trend .h-purple {
    color: #9810FA;
}



.last-article .side-bar .trending-card .trend a {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
}

.last-article .side-bar .trending-card .trend a:hover {
    color: red;
}

.last-article .side-bar .trending-card .trend .a-blue:hover {
    color: #2B7FFF;
}

.last-article .side-bar .trending-card .trend .a-purple:hover {
    color: #9810FA;
}

.last-article .side-bar .trending-card .trend p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #757575;
}


.last-article .side-bar .category h3 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 900;
    margin-bottom: 20px;
}

.last-article .side-bar .category h4 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
    background-color: #FFEF90;
    transition: all 0.2s;
    cursor: pointer;
}

.last-article .side-bar .category h4:hover {
    background-color: #FFDF20;
    box-shadow: 5px 5px 0px black;
    transform: translate(-5px, -5px);
}

.last-article .side-bar .category .cat-green {
    background-color: #DBFCE7;
}

.last-article .side-bar .category .cat-green:hover {
    background-color: #7BF1A8;
}

.last-article .side-bar .category .cat-pink {
    background-color: #FCE7F3;
}

.last-article .side-bar .category .cat-pink:hover {
    background-color: #FDA5D5;
}

.last-article .side-bar .category .cat-blue {
    background-color: #DBEAFE;
}

.last-article .side-bar .category .cat-blue:hover {
    background-color: #8EC5FF;
}

.last-article .side-bar .category .cat-purple {
    background-color: #F3E8FF;
}

.last-article .side-bar .category .cat-purple:hover {
    background-color: #DAB2FF;
}

/* /////////////////////////////authors///////////////////////////////////////////////////////////////////////// */
.authors {
    background-color: oklch(87.81% 0.16869 91.863 / 0.95);
    position: relative;
    padding: 40px 0;
    text-align: center;
    border-bottom: 4px solid black;


}

.authors .rect1 {
    position: absolute;
    bottom: auto;
    left: auto;
    top: 10%;
    right: 10%;
}

.authors .rect2 {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 10%;
    left: 10%;
}

.authors .head h2 {
    font-size: 42px;
    line-height: 42px;
    font-weight: 900;
}

.authors .head p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    color: oklch(0.439 0 0);
    margin: 10px 0;
    position: relative;
}

.authors .head p::after {
    content: " ";
    width: 130px;
    height: 8px;
    background-color: #000;
    position: absolute;
    bottom: -60%;
    right: 35%;
}

.authors .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.authors .cards .card {
    width: 100%;
    border: 4px solid black;
    box-shadow: 6px 6px 0 #000;
    margin: 30px 0;
    padding: 20px;
    transition: all 0.2s;
    position: relative;
}


.authors .cards .card .photo img {
    width: 130px;
    height: 100%;
    border: 4px solid black;
    object-fit: cover;
}

.authors .cards .card .title {
    margin: 20px 0;
}

.authors .cards .card .title h3 {
    font-size: 26px;
    font-weight: 900;
    line-height: 32px;
}

.authors .cards .card .title p {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: oklch(0.439 0 0);
}

.authors .cards .card .content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding: 10px;
}

.authors .cards .card .sign {
    background-color: red;
    position: absolute;
    top: 10px;
    right: 0;
    width: 70px;
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 0px 0 black;
    transform: rotate(10deg);

}

.authors .cards .card .icons a {
    text-decoration: none;
    color: white;
    background-color: #000;
    border: 3px solid black;
    padding: 10px 12px;
    margin: 5px 5px;
    font-size: 15px;
    transition: all 0.2s;
}

.authors .cards .card .icons a:hover {
    background-color: #1DA1F2;
    box-shadow: 4px 4px 0px black;
    transform: translate(-4px, -4px);
}

.authors .cards .card .icons .linked-in:hover {
    background-color: #155DFC;

}

.authors .cards .card .icons .insta:hover {
    background-color: #E60076;

}

.authors .cards .card:hover {
    transform: translate(-3px, -3px);

}



.authors .cards .card-blue .sign {
    background-color: #155DFC;
    transform: rotate(-10deg);

}

.authors .cards .card-purple .sign {
    background-color: #9810FA;

    transform: rotate(30deg);

}

.authors .cards .card-yellow {
    background-color: #FEF9C2;
}

.authors .cards .card-yellow:hover h3 {
    color: red;
}

.authors .cards .card-blue {
    background-color: #DBFCE7;
}


.authors .cards .card-blue:hover h3 {
    color: #155DFC;
}

.authors .cards .card-purple {
    background-color: #FCE7F3;
}


.authors .cards .card-purple:hover h3 {
    color: #9810FA;
}








/* ////////////////////media query///////////////////////// */
/* sm */
@media screen and (min-width: 640px) {
    .last-article .cards .head .sign {
        display: block;
        width: 145px;
        transform: rotate(2deg);
    }

    .last-article .cards .card .foot {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .last-article .cards .card .foot h4 {
        width: 50%;
    }

}

/* md */
@media screen and (min-width: 768px) {
    .nav .title h1 {
        font-size: 30px;
        line-height: 36px;

    }



    .sign {
        font-size: 14px;
        line-height: 20px;
        width: 160px;
    }

    .home .title h2 {
        font-size: 58px;
        line-height: 80px;
    }

    .home .content .paragraph {
        font-size: 24px;
        line-height: 32px;
        margin: 20px 0;
    }

    .home .content .buttons button {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 50px;
    }

    .last-article .cards .head h2 {
        font-size: 48px;
        line-height: 48px;
    }

    .last-article .cards .head .sign {
        width: 170px;

    }

    .last-article .cards .card .content h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .last-article .cards .card .content .pra {
        font-size: 18px;
        line-height: 29px;
    }

    .last-article .cards .card .foot {
        font-size: 14px;
        line-height: 20px;
    }

    .last-article .cards button {
        font-size: 20px;
        line-height: 28px;

    }

    .last-article .side-bar .trending-card h3 {
        font-size: 30px;
        line-height: 36px;
    }

    .last-article .side-bar .trending-card .trend h3 {
        font-size: 36px;
        line-height: 40px;

    }

    .last-article .side-bar .trending-card .trend a {
        font-size: 18px;
        line-height: 28px;

    }

    .last-article .side-bar .trending-card .trend p {
        font-size: 14px;
        line-height: 20px;
    }

    .last-article .side-bar .category h3 {
        font-size: 30px;
        line-height: 36px;
    }

    .last-article .side-bar .category h4 {
        font-size: 16px;
        line-height: 24px;
    }

    .authors .head h2 {
        font-size: 48px;
        line-height: 48px;

    }

    .authors .head p {
        font-size: 20px;
        line-height: 28px;
    }

    .authors .head p::after {
        right: 45%;
    }

    .authors .cards .card .title h3 {
        font-size: 30px;
        line-height: 36px;
    }

    .authors .cards .card .title p {
        font-size: 16px;
        line-height: 24px;
    }

    .authors .cards .card .content p {
        font-size: 16px;
        line-height: 26px;
    }
}

/* 1g */
@media screen and (min-width: 1024px) {
    .home .content {
        width: 50%;
    }

    .home .photo {
        width: 40%;
        position: relative;
    }

    .home .photo .sign {
        top: -4%;
        right: -4%;
        width: 110px;
    }

    .home .photo .pic {
        transform: rotate(5deg);


    }

    .home .photo .pic:hover {
        transform: translateX(-5px) translateY(-5px) rotate(5deg);
    }

    .last-article .cards {
        width: 63%;
    }

    .last-article .side-bar {
        width: 35%;
        height: 80%;
        position: sticky;
        top: 80px;

    }

    .authors .cards .card {
        width: 48%;


    }




}

/* x1 */
@media screen and (min-width: 1280px) {

    .nav .links,
    .nav .button {
        display: flex;
    }

    .nav .menu {
        display: none;
    }

    .last-article .cards .card .foot h4 {
        width: 20%;
    }

    .last-article .cards .card .content {
        width: 77%;
    }

    .authors .cards .card {
        width: 30%;


    }
}

/* xx1 */
@media screen and (min-width: 1536px) {}